<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05514F58839F0785472C0A5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>082BB98E455ADF01F9511ED2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>322528FD840A000A34DBA639</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
